

.game-selection{

  &-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 22px 0;
    @media (max-width: 425px) {
      align-items: start;
    }

    .game-btn{
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background: #fff;
      border-radius: 50%;
      margin-right: 20px;
      @media (max-width: 425px) {
        margin-right: 10px;
        width: 30px;
        height: 30px;
      }
    }

    .game-back-head{
      display: flex;
      justify-content: start;
      align-items: center;
      @media (max-width: 425px) {
        flex-direction: column;
        align-items: start;
      }
    }

    .game-head{
      margin-top: 0;
      margin-bottom: 0;
      @media (max-width: 425px) {
        margin-top: 15px;
        font-size: 17px !important;
      }
    }

    label{
      height: 41px;
      border-radius: 20px;
      background-color: #ffffff;
      max-width: 220px;
      width: 100%;
      padding: 0 20px;
      display: flex;
      @media (max-width: 425px) {
       max-width: 150px;
        padding: 0 10px;
      }
      input{
        font-size: 16px;
        width: 90%;
        color: #8e8e93;
        font-weight: 300;
        margin-right: 15px;
        &::placeholder{
          font-size: 16px;
          color: #babcc7;
        }
        @media (max-width: 425px) {
          font-size: 14px;
          width: 85%;
        }
      }
      .icon-search{
        cursor: pointer;
      }
    }

  }

}