

.slick3-box{
  overflow: hidden;
  z-index: 6 !important;
  .image{
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: #f7f8fb;
  }

  .texts{
    padding-left: 10px;
    padding-top: 20px;
    .name{
      font-size: 16px;
      color: #212121;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 180px;
    }
    span{
      font-size: 16px;
      color: #cfd1dd;
      font-weight: 300;
    }
  }

}